pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
repos
.DS_Store
bootstrap/target
bootstrap/.idea
bootstrap/logging
bootstrap/*.iml
utils/target
utils/logging
apps/*/target/
apps/*/.idea
apps/*/*.iml
apps/*/logging
